# phpstorm project files
/.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

#config
/config/*
'/.idea/*'
.idea
.htaccess
.cacert.pem
/.well-known
/h5/*
.user.ini
/web/uploads/*

/web/temp/*
web/uploads/images/*
.env

接口说明.md
短视频.sql
签到sql.txt
/mirror
/app

composer.lock
/debug.php
/clouds/statics
